<div class="crud-container">
  <h2>CRUD de Hospitales</h2>
  <form (ngSubmit)="editIndex === -1 ? agregarHospital() : actualizarHospital()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input [(ngModel)]="nuevoHospital.nombre" name="nombre" placeholder="Nombre" required>
    </div>
    <div class="form-group">
      <label for="antiguedad">Antigüedad:</label>
      <input [(ngModel)]="nuevoHospital.antiguedad" name="antiguedad" type="number" placeholder="Antigüedad" required>
    </div>
    <div class="form-group">
      <label for="area">Área:</label>
      <input [(ngModel)]="nuevoHospital.area" name="area" type="number" placeholder="Área" required>
    </div>
    <!-- Agrega más campos según sea necesario -->
    <button type="submit">
      {{ editIndex === -1 ? 'Agregar' : 'Actualizar' }}
    </button>
  </form>

  <ul>
    <li *ngFor="let hospital of hospitales; let i = index">
      {{ hospital.nombre }} ({{ hospital.antiguedad }} años, {{ hospital.area }} m²)
      <button (click)="editarHospital(i)">Editar</button>
      <button (click)="eliminarHospital(hospital.idHospital)">Eliminar</button>
    </li>
  </ul>
</div>